In [1]:
%run "./../model-selector.ipynb"

start

In [2]:
class DatasetInstance02(Dataset):   ##implementing parent abstract class by using child class
    def setPredictionType(self):
        #Target - Column 11 is a quantitative measure of disease progression one year after baseline
        self.prediction_type =  'category' 
        self.known_prediction_cathegories = True
        
    def setDataType(self):
        # First 10 columns are numeric predictive values
        self.data_type = 'numeric'
        
    def setTargetColumn(self):
        self.target_column = 'DEATH_EVENT'
    
    def setPandasDataset(self):
        # toy datasets https://scikit-learn.org/stable/datasets/toy_dataset.html
        # https://scikit-learn.org/stable/datasets/toy_dataset.html#diabetes-dataset
        heart_data = pd.read_csv('dataset/heart_failure_clinical_records_dataset.csv')
        #print(heart_data.head())
        print(heart_data.columns)
        self.target = heart_data[self.target_column]
        heart_data.drop(self.target_column, inplace=True, axis=1)
        self.dataset = heart_data
        
        
        
    def isFewFeatures(self):
        print("num features is ",len(self.dataset.columns))
        if(len(self.dataset.columns)<30):
            return True
        return False
    
    def setValidDatasetSize(self):
        self.valid_dataset_size = 0.2
    def setTestDatasetSize(self):
        self.test_dataset_size = 0.009

In [3]:
instance02=DatasetInstance02()
instance02.configure()
print(instance02.getDatasetFeatures())

Index(['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes',
       'ejection_fraction', 'high_blood_pressure', 'platelets',
       'serum_creatinine', 'serum_sodium', 'sex', 'smoking', 'time',
       'DEATH_EVENT'],
      dtype='object')
train dataset size is  239 239
validate dataset size is  60 60
test dataset size is  0 0
DADOS DE VALIDACAO
      age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  \
236  75.0        0                       119         0                 50
155  60.0        1                       231         1                 25
55   95.0        1                       371         0                 30
44   60.0        1                       588         1                 60
63   45.0        0                       582         0                 35
178  63.0        1                       122         1                 60
260  55.0        0                        66         0                 40
223  47.0        0                       582         0                 25
22   68.0        1                       220         0                 35
160  66.0        1                        72         0                 40
278  50.0        1                      1051         1                 30
31   85.0        0                        23         0                 45
230  60.0        0                       166         0                 30
252  50.0        0                       245         0                 45
107  45.0        1                      1876         1                 35
16   87.0        1                       149         0                 38
232  40.0        1                       129         0                 35
21   65.0        1                       128         1                 30
168  65.0        0                       582         1                 40
196  45.0        0                       582         1                 38
81   67.0        0                       582         0                 50
111  55.0        0                        60         0                 35
258  45.0        1                        66         1                 25
205  50.0        1                       167         1                 45
20   65.0        1                        52         0                 25
121  66.0        1                        68         1                 38
268  45.0        0                       582         1                 38
197  65.0        0                       167         0                 30
177  49.0        1                        69         0                 50
162  63.0        1                       582         0                 40
248  40.0        0                       624         0                 35
261  62.0        1                       655         0                 40
163  50.0        1                      2334         1                 35
222  42.0        1                        86         0                 35
50   68.0        1                       577         0                 25
91   60.0        0                       897         1                 45
165  80.0        0                       776         1                 38
259  53.0        0                        56         0                 50
154  65.0        1                       335         0                 35
254  53.0        1                       446         0                 60
78   75.0        1                       203         1                 38
4    65.0        1                       160         1                 20
193  73.0        1                       231         1                 30
93   60.0        1                       154         0                 25
280  70.0        0                      2695         1                 40
14   49.0        1                        80         0                 30
175  60.0        1                        95         0                 60
54   60.0        1                       260         1                 38
157  50.0        0                       250         0                 25
59   72.0        0                       364         1                 20
134  81.0        0                      4540         0                 35
234  53.0        1                       582         0                 45
65   60.0        0                        68         0                 20
221  65.0        0                       118         0                 50
77   42.0        0                       102         1                 40
34   65.0        0                        94         1                 50
8    65.0        0                       157         0                 65
42   70.0        0                       571         1                 45
264  61.0        0                       582         1                 38
174  65.0        0                       198         1                 35

     high_blood_pressure  platelets  serum_creatinine  serum_sodium  sex  \
236                    1  248000.00              1.10           148    1
155                    0  194000.00              1.70           140    1
55                     0  461000.00              2.00           132    1
44                     0  194000.00              1.10           142    0
63                     0  385000.00              1.00           145    1
178                    0  267000.00              1.20           145    1
260                    0  203000.00              1.00           138    1
223                    0  130000.00              0.80           134    1
22                     1  289000.00              0.90           140    1
160                    1  242000.00              1.20           134    1
278                    0  232000.00              0.70           136    0
31                     0  360000.00              3.00           132    1
230                    0   62000.00              1.70           127    0
252                    1  274000.00              1.00           133    1
107                    0  226000.00              0.90           138    1
16                     0  262000.00              0.90           140    1
232                    0  255000.00              0.90           137    1
21                     1  297000.00              1.60           136    0
168                    0  270000.00              1.00           138    0
196                    1  263358.03              1.18           137    0
81                     0  263358.03              1.18           137    1
111                    0  228000.00              1.20           135    1
258                    0  233000.00              0.80           135    1
205                    0  362000.00              1.00           136    0
20                     1  276000.00              1.30           137    0
121                    1  162000.00              1.00           136    0
268                    0  302000.00              0.90           140    0
197                    0  259000.00              0.80           138    0
177                    0  132000.00              1.00           140    0
162                    0  448000.00              0.90           137    1
248                    0  301000.00              1.00           142    1
261                    0  283000.00              0.70           133    0
163                    0   75000.00              0.90           142    0
222                    0  365000.00              1.10           139    1
50                     1  166000.00              1.00           138    1
91                     0  297000.00              1.00           133    1
165                    1  192000.00              1.30           135    0
259                    0  308000.00              0.70           135    1
154                    1  235000.00              0.80           136    0
254                    1  263358.03              1.00           139    1
78                     1  283000.00              0.60           131    1
4                      0  327000.00              2.70           116    0
193                    0  160000.00              1.18           142    1
93                     0  210000.00              1.70           135    1
280                    0  241000.00              1.00           137    1
14                     1  427000.00              1.00           138    0
175                    0  337000.00              1.00           138    1
54                     0  255000.00              2.20           132    0
157                    0  262000.00              1.00           136    1
59                     1  254000.00              1.30           136    1
134                    0  231000.00              1.18           137    1
234                    0  305000.00              1.10           137    1
65                     0  119000.00              2.90           127    1
221                    0  194000.00              1.10           145    1
77                     0  237000.00              1.20           140    1
34                     1  188000.00              1.00           140    1
8                      0  263358.03              1.50           138    0
42                     1  185000.00              1.20           139    1
264                    0  147000.00              1.20           141    1
174                    1  281000.00              0.90           137    1

     smoking  time
236        0   209
155        0   120
55         0    50
44         0    33
63         0    61
178        0   147
260        0   233
223        0   201
22         1    20
160        0   121
278        0   246
31         0    28
230        0   207
252        0   215
107        0    88
16         0    14
232        0   209
21         0    20
168        0   140
196        0   185
81         1    76
111        1    90
258        0   230
205        0   187
20         0    16
121        0    95
268        0   244
197        0   186
177        0   147
162        1   123
248        1   214
261        0   233
163        0   126
222        1   201
50         0    43
91         0    80
165        0   130
259        1   231
154        0   120
254        0   215
78         1    74
4          0     8
193        1   180
93         0    82
280        0   247
14         0    12
175        1   146
54         1    45
157        1   120
59         1    59
134        1   107
234        1   209
65         1    64
221        1   200
77         0    74
34         0    29
8          0    10
42         1    33
264        0   237
174        1   146
236    0
155    0
55     1
44     1
63     1
178    0
260    0
223    0
22     1
160    0
278    0
31     1
230    1
252    0
107    0
16     1
232    0
21     1
168    0
196    0
81     0
111    0
258    0
205    0
20     0
121    0
268    0
197    0
177    0
162    0
248    0
261    0
163    1
222    0
50     1
91     0
165    1
259    0
154    0
254    0
78     0
4      1
193    0
93     1
280    0
14     0
175    0
54     1
157    0
59     1
134    0
234    0
65     1
221    0
77     0
34     1
8      1
42     1
264    0
174    0
Name: DEATH_EVENT, dtype: int64
DADOS DE TREINAMENTO
      age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  \
118  65.0        1                       113         1                 60
201  45.0        0                       308         1                 60
233  53.0        1                       707         0                 38
192  50.0        1                       121         1                 40
23   53.0        0                        63         1                 60
..    ...      ...                       ...       ...                ...
180  40.0        0                       478         1                 30
190  80.0        0                       582         1                 35
49   57.0        1                       129         0                 30
189  40.0        0                       244         0                 45
275  45.0        0                       582         0                 38

     high_blood_pressure  platelets  serum_creatinine  serum_sodium  sex  \
118                    1   203000.0               0.9           140    0
201                    1   377000.0               1.0           136    1
233                    0   330000.0               1.4           137    1
192                    0   260000.0               0.7           130    1
23                     0   368000.0               0.8           135    1
..                   ...        ...               ...           ...  ...
180                    0   303000.0               0.9           136    1
190                    0   350000.0               2.1           134    1
49                     0   395000.0               1.0           140    0
189                    1   275000.0               0.9           140    0
275                    1   422000.0               0.8           137    0

     smoking  time
118        0    94
201        0   186
233        1   209
192        0   175
23         0    22
..       ...   ...
180        0   148
190        0   174
49         0    42
189        0   174
275        0   245

[239 rows x 12 columns]
118    0
201    0
233    0
192    0
23     0
      ..
180    0
190    0
49     1
189    0
275    0
Name: DEATH_EVENT, Length: 239, dtype: int64
Index(['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes',
       'ejection_fraction', 'high_blood_pressure', 'platelets',
       'serum_creatinine', 'serum_sodium', 'sex', 'smoking', 'time'],
      dtype='object')

In [4]:
print(instance02.target)

0      1
1      1
2      1
3      1
4      1
      ..
294    0
295    0
296    0
297    0
298    0
Name: DEATH_EVENT, Length: 299, dtype: int64

In [5]:
selector = MethodSelector
cathegory = selector.getMethodCathegory(instance02)
print(cathegory.getCathegoryName())

Classification

In [6]:
#print(cathegory.getRecommendedMethod())

In [7]:
# while(True):
#     print(cathegory.getRecommendedMethod())

In [8]:
test_score = 0
while (test_score < 0.77):
    name,method = selector.getNextMethodToExecute(cathegory)
    print(name)
    try:
        _, test_score = method.train()
        print('score is ', test_score)
    except ValueError as err:
        print(err.args)
        test_score = 8

LinearSVC
len train dataset is  239 239
len validate dataset is  60 60
balanced_accuracy  0.8478818998716302
matthews_corrcoef  0.6716258743858474
Accuracy :  0.85
Sensitivity :  0.8536585365853658
Specificity :  0.8421052631578947
f1 score is  0.7804878048780488
score is  0.7804878048780488

In [9]:
#print(instance02.x_train)